<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.genelol.dao.userboard.UserVideoBoardMapper">

	<insert id="videoInsert" parameterType="userVideoBoard">
		<selectKey keyProperty="board_no" resultType="Integer"
			order="BEFORE">
			select board_no_seq.nextval from dual
		</selectKey>
		insert into boardtable (board_id,board_no, userid,
		board_title,board_content
		<if test="board_file != null and board_file !=''">,board_file</if>
		)
		values(
		#{board_id},#{board_no},#{userid},#{board_title},#{board_content}
		<if test="board_file != null and board_file !=''">,#{board_file}</if>
		)
	</insert>



	<update id="videoUpdate" parameterType="userVideoBoard">
		update
		boardtable set
		board_title=#{board_title},
		board_content=#{board_content}
		where
		board_no=#{board_no}

	</update>

	<delete id="videoDelete">
		delete from boardtable where board_no = #{board_no}
	</delete>

	<select id="userVideoBoardList" parameterType="userVideoBoard"
		resultType="com.genelol.vo.userboard.UserVideoBoardVO">
		<![CDATA[
		
		SELECT *
		FROM boardtable
		where board_id = 'videoLOL' OR board_id = 'videoFun' OR board_id='videoEtc'
		order by board_no desc
		]]>
	</select>

	<select id="videoDetail" parameterType="int"
		resultType="com.genelol.vo.userboard.UserVideoBoardVO">
		select
		board_id,board_no,userid,board_title,board_content
		from boardtable
		where board_no = #{board_no}
	</select>


	<select id="videoRead" resultType="com.genelol.vo.userboard.UserVideoBoardVO"
		parameterType="int"> select
		board_id,board_no,userid,board_title,board_content
		from boardtable
		where board_no = #{board_no}
	</select>
</mapper>
