<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.genelol.mapper.UserMapper">

	<select id="checkUserName" resultType="int">
		select count(*)
		from
		usertable
		where username = #{userName}
	</select>

	<insert id="insertUser" parameterType="user">
		<![CDATA[
			insert into usertable (userid, username, usermail, userpassword)
			values(userid_seq.nextval, #{userName}, #{userMail}, #{userPassword})
		]]>
	</insert>

	<select id="login" parameterType="user" resultType="user">
		select *
		from usertable
		where username =#{userName} or usermail =#{userMail}
	</select>

</mapper>


