<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.genelol.vo.main.PopularBoardVo" alias="popularBoard" />
		<typeAlias type="com.genelol.vo.user.UserVO" alias="user" />
		<typeAlias type="com.genelol.vo.userboard.UserVideoBoardVO" alias="userVideoBoard"/>
		<typeAlias type="com.genelol.vo.userboard.UserVideoReplyVO" alias="userVideoReply"/>
	</typeAliases>
</configuration>
